.menu {
    font-family: "Montserrat", sans-serif;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    z-index: 0;
    overflow: hidden;
    gap: 30px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--primary-text-color);
    z-index: 1;
    box-shadow: 0 8px 20px rgba(20, 10, 40, 0.3);
    backdrop-filter: blur(20px);
}

.menu > .bienvenida {
    color: var(--primary-text-color);
}

.dificultades {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* PREGUNTAS  */
.indicadores {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#volver {
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
}

#volver:hover {
    background: linear-gradient(to right, #0b7fb4, #09b1ff);
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;
}   

.pregunta {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50%;
}

#pregunta {
    height: 30%;
    text-align: center;
}


.option {
    border: 2px white solid;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    position: relative;
    min-height: 30px;
}

.option::before {
    content: "";
    position: absolute;
    inset: 0px;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(to right, #0b7fb4, #09b1ff);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    opacity: 0;
}

.option:hover {
    border: transparent;
}

.option:hover::before {
    opacity: 1;
    cursor: pointer;
    
}


.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.correcta {
    border-color: #3e8e41;
    background: #4caf50;
    color: white;
}

.incorrecta {
    border-color: #c62828;
    background: #f44336;
    color: white;
}

.boton {
    width: 200px;
    height: 35px;
    cursor: pointer;
    background: linear-gradient(to right, #0b7fb4, #09b1ff);
    border: none;
    color: white;
    border-radius: 20px;
}

.boton:hover {
    opacity: 0.7;
}



.resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-weight: 500;
}

.resultado h2 {
    margin: 8px;
    text-align: center;
}

.resultado span {
    margin-bottom: 15px;
}

.click-anim {
    animation: bounce 0.25s ease-out;
}

@keyframes bounce {
    0%   {transform: scale(1);}
    30%  {transform: scale(0.9);}
    60%  {transform: scale(1.1);}
    100% {transform: scale(1);}
} 