.opcion_dificultad {
    border: 1px var(--primary-border-color) solid;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 20vh;
}


.opcion_dificultad > span {
    font-size: large;
    color: var(--primary-text-color);
}