#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  width: 100%;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #eeeeeee3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {

  --primary-background-color: #eeeeeee3;

  --primary-text-color: rgb(37, 37, 37);
  --secondary-text-color: rgba(115, 115, 115, 1);
  
  --primary-border-color: #CCCCCC;
  --secondary-border-color: #222121;
  --hue-primary: 223;
  --dark-gray50: hsl(var(--hue-primary), 90%, 5%);
  --dark-gray100: hsl(var(--hue-primary), 90%, 10%);
}

[data-theme="dark"] {
  --primary-background-color: #242424;

  --primary-text-color: #FFFFFF;
  
  --primary-border-color: #FFFFFF;
  --secondary-border-color: #FFFFFF;
}

body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

}


*,
*::before,
*::after {
  box-sizing: border-box;
}
